{% extends 'base.html.twig' %}
{% block title %}Hello DefaultController!{% endblock %}
{% block body %}


    <div class="container">
        {% for message in app.flashes('ContactSuccess') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {% if not form.vars.valid %}
            <div class="alert alert-danger">
                {{ 'Erreur dans le formulaire'|trans([],'form') }}
            </div>
        {% endif %}

        {{ form_start(form) }}
        <div class="row">

            <div class="col-md-6">
                {{ form_row(form.name) }}
            </div>

            <div class="col-md-6">
                {{ form_row(form.email) }}
            </div>
            <div class="col-md-12">
                {{ form_row(form.message) }}
            </div>
        </div>
        {{ form_rest(form) }}

        <button type="submit" class="btn btn-success">
            {{ 'Envoyer'|trans([],'form') }}
        </button>
        {{ form_end(form) }}

        <a href="{{ path('index') }}">Retour à l'accueil</a>
    </div>
{% endblock %}