{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}


    <div class="container">

        locale: {{ app.request.locale }}
        <h1>Ici la liste des membres:</h1>

        {% for member in members %}
            {% if member.imageName %}
                <img src="{{ vich_uploader_asset(member, 'imageFile') | imagine_filter('member_photo_desktop') }}"
                     alt="{{ member }}"/>
            {% endif %}

            <li>{{ member.firstName }} {{ member.lastName }}</li>
            {{ member.description|raw }}
        {% endfor %}

    </div>

{% endblock %}
