{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}


    <div class="container">
        <div class="row">
            locale {{app.request.locale}}<br>
            {% for member in members %}

                <div class="col-4">
                    {% set runtimeConfig = {"thumbnail": {"size": [50, 50] }} %}

                    <img src="{{ vich_uploader_asset(member, 'imageFile') | imagine_filter('member_photo_desktop') }}"
                         alt="{{ member }}" />

                    <br>
                    {{ member.firstName }} {{ member.lastName }}
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}