<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> {% block meta_title %}Welcome!{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">

    {% if page is defined %}
        {% for link in page.translations %}
            <link rel="alternate" hreflang="{{ link.locale }}"
                  href="{{ app.request.schemeAndHttpHost }}{{ path(app.request.attributes.get('_route'), {'_locale':link.locale, 'slug':link.slug}) }}">
        {% else %}
            {% for locale in LOCALES %}
                <link rel="alternate" hreflang="{{ locale }}"
                      href="{{ app.request.schemeAndHttpHost }}{{ path(app.request.attributes.get('_route'),
                          app.request.attributes.get('_route_params')|merge({'_locale':locale})) }}">
            {% endfor %}
        {% endfor %}
    {% endif %}

    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}
    {% endblock %}
</head>
<body>
{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <a class="navbar-brand" href="{{ path('index') }}"><img
                    src="https://www.agence-supersonik.com/contenu/uploads/2017/11/logo-sk-black-300x113.png" alt="logo"
                    scale="0"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a href="{{ path('index') }}" class="nav-link">{{ "Accueil"|trans() }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ getPageUrl('agency') }}">{{ "L'agence"|trans() }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="">{{ "Réalisations"|trans() }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="">{{ "Expertise"|trans() }}</a>
                </li>
                <li>
                    <a class="nav-link" target="">{{ "SuperMag"|trans() }}</a>
                </li>
                <li>
                    <a class="nav-link" target="" href="{{ path('contact') }}">{{ "Contact"|trans() }}</a>
                </li>
                <li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ app.request.locale }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if page is defined %}
                            {% for link in page.translations %}
                                <a class="dropdown-item" href="{{ path(app.request.attributes.get('_route'),
                                    app.request.attributes.get('_route_params')|merge({'_locale':link.locale, 'slug': link.slug})
                                ) }}">{{ link.locale }}</a>
                            {% endfor %}
                        {% else %}
                            {% for locale in LOCALES %}
                                <a class="dropdown-item" href="{{ path(app.request.attributes.get('_route'),
                                    app.request.attributes.get('_route_params')|merge({'_locale':locale})
                                ) }}">{{ locale }}</a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </li>
                </li>
            </ul>
        </div>
    </nav>

{% endblock %}

{% block body %}

{% endblock %}

{% block javascripts %}
{% endblock %}
{{ encore_entry_script_tags('app') }}
</body>
</html>
